NEXT_PUBLIC_PORTALDOT_RPC=wss://YOUR_PORTALDOT_RPC
NEXT_PUBLIC_PORTAL_ESCROW_CONTRACT=YOUR_DEPLOYED_CONTRACT_ADDRESS
NEXT_PUBLIC_PORTALDOT_CHAIN_HINT=Portaldot
NEXT_PUBLIC_POT_DECIMALS=14
NEXT_PUBLIC_DEMO_FREELANCER=YOUR_FREELANCER_ADDRESS
